<!DOCTYPE html>
{% load staticfiles %}
{% load i18n %}

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>
            {% block title %}
                {% trans "Banque de données - Mozart" %}
            {% endblock %}
        </title>

        <!-- Bootstrap Core CSS -->
        <link href="{% static 'sbadmin2/bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{% static 'sbadmin2/dist/css/sb-admin-2.css' %}" rel="stylesheet">

        <!-- Custom CSS collapse sidebar -->
        <link href="{% static 'custom/style.css' %}" rel="stylesheet">

        <!-- Custom Fonts -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

        <!-- DataTables CSS -->
        <link href="{% static 'sbadmin2/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css' %}" rel="stylesheet">

        <!-- DataTables Responsive CSS -->
        <link href="{% static 'sbadmin2/bower_components/datatables-responsive/css/dataTables.responsive.css' %}" rel="stylesheet">

        {% block extrahead %}
        {% endblock %}


    </head>
    <body>

        <div id="wrapper">

        {% block sidebar %}{% endblock %}

        <!-- Page Content Holder -->
        <div id="content">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                           <h3>
                             {% block toggle_button %}{% endblock %}
                             Banque de données - Mozart
                           </h3>
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-top-links navbar-right">
                    {% if user.is_authenticated %}
                <a class="btn btn-xs btn-primary" href="JavaScript:newPopup('/admin/mozartweb/event/add/?_popup=1');"><i class="fa fa-plus"></i> événement</a>
<a class="btn btn-xs btn-primary" href="JavaScript:newPopup('/admin/mozartweb/broadcasting/add/?_popup=1');"><i class="fa fa-plus"></i> radiodiffusion </a>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i> {{ user }} <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">{% trans "Account" %}</li>
                            <li>
                                <a href='/admin'>
                                    <i class="fa fa-sign-out fa-fw"></i>
                                    {% trans "Interface d'administration" %}
                                </a>
                            </li>
                            <li>
                                <a href='{% url "logout" %}'>
                                    <i class="fa fa-sign-out fa-fw"></i>
                                    {% trans "Logout" %}
                                </a>
                            </li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                    {% else %}
                    <li>
                        <a href='/admin/login/?next=/'>
                            <i class="fa fa-sign-in fa-fw"></i>
                            {% trans "Login" %}
                        </a>
                    </li>
                    {% endif %}
                    <!-- /.dropdown -->
                </ul>
                <!-- /.navbar-top-links -->

                        </div>
                    </div>
                </nav>

                {% block content %}{% endblock %}

            </div>
        </div>


        <!-- jQuery CDN -->
         <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
         <!-- Bootstrap Js CDN -->
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <script src="{% static 'sbadmin2/test.js' %}"></script>

        <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>

        <script type="text/javascript">
            // Popup window code
            function newPopup(url) {
                popupWindow = window.open(
                    url,'popUpWindow','height=800,width=1000,left=500,top=10,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes')
            }
        </script>
        {% block extrascript %}{% endblock %}

         <script type="text/javascript">
             $(document).ready(function () {
                 $('#sidebarCollapse').on('click', function () {
                     $('#sidebar').toggleClass('active');
                 });
             });
         </script>
    </body>
</html>

