{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load bootstrap3 %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {{ event.title|safe }}

		{% if event.bc_key %}
                    <a class="btn btn-xs btn-warning" href="JavaScript:newPopup('/admin/mozartweb/broadcasting/{{ event.bc_key.id }}/change/?_popup=1');">
                    <i class="fa fa-pencil"></i>
                </a>
                <a class="btn btn-xs btn-danger" href="JavaScript:newPopup('/admin/mozartweb/broadcasting/{{ event.bc_key.id }}/delete/?_popup=1');">
                    <i class="fa fa-times"></i>
                </a>
                {% else %}
                    <a class="btn btn-xs btn-warning" href="JavaScript:newPopup('/admin/mozartweb/event/{{ event.id }}/change/?_popup=1');">
                    <i class="fa fa-pencil"></i>
                </a>
                <a class="btn btn-xs btn-danger" href="JavaScript:newPopup('/admin/mozartweb/event/{{ event.event.id }}/delete/?_popup=1');">
                    <i class="fa fa-times"></i>
                </a>
		{% endif %}
            </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">


        <div class="col-sm-6">
            <strong>{% trans "Nature" %} :</strong> {{ event.type|default:"" }}<br>
	    {% if event.bc_key == None %}
                <strong>{% trans "Lieu" %} :</strong> {{ event.place|default:"" }}<br>
            {% endif %}
            <strong>{% trans "Date début" %} :</strong> {{event.start_date|default:""}} 
		{% if event.start_time %} à {{event.start_time|default:""}}{% endif %}<br>
            <strong>{% trans "Date fin" %} :</strong> {{event.end_date|default:""}}
		{% if event.end_time %} à {{event.end_time|default:""}}{% endif %}<br>
	    {% if event.radio_station %}
                <strong>{% trans "Station radio" %} :</strong> {{ event.radio_station|default:"" }}<br>
            {% endif %}

            {% if event.relates_to_broadcasting.all  %}
                <strong>{% trans "Diffusion(s) radio associée(s)" %} :</strong>
                <ul>
                    {% for r in event.relates_to_broadcasting.all %}
                        <li><a href="/{{ r.ev_clone.id }}">{{ r.ev_clone.title }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if event.bc_key.get_related_events.all  %}
                <strong>{% trans "Événement(s) associé(s)" %} :</strong>
                <ul>
                    {% for r in event.bc_key.get_related_events.all %}
                        <li><a href="/{{ r.id }}">{{ r }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="col-sm-2">
            {% if event.poster %}
                        <a href="/media/{{ event.poster }}"> <img src="/media/{{ event.poster }}" height='130'"></a>
            {% endif %}
        </div>
    </div>


    <hr>

    <div class="row">
        <div class="col-sm-6">
          <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-music fa-fw"></i><b> Pièces</b>
                </div>
                <div class="panel-body">
                    <ul>
                    {% for piece in event.piece.all %}
                        <li>{{ piece }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>        </div>
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-female fa-fw"></i><b> Interprètes</b>
                </div>
                <div class="panel-body">
                    <ul>
                    {% for p in event.performer.all %}
                        <li><i>{{ p }}</i> - {{ p.type }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
         </div>
     </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-book fa-fw"></i><b> Références</b>
                </div>
                <div class="panel-body">
                    <ul>
                    {% for r in event.reference.all %}
                        {% if r.article_file %}
                            <li><a href="/media/{{ r.article_file }}">{{ r }}</a></li>
                        {% else %}
                            <li>{{ r }}</li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
            </div>
         </div>
               <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-group fa-fw"></i><b> Conférences</b>
                </div>
                <div class="panel-body">
                    <ul>
                    {% for s in event.speech.all %}
                        <li>{{ s }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
         </div>
     </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="pull-right">
                        <a data-toggle="modal" data-target="#CommentModal" class="btn btn-xs btn-success">
                            {% trans "Ajouter commentaire" %}
                        </a>
                    </span>
                    <i class="fa fa-comments-o fa-fw"></i><b> Commentaires</b>
                </div>

                <table class="table table-hover table-condensed">
                    {% for comment in event.comment.all %}
                    <tr>
                        <td>
                            "{{comment.content}}", par <i>{{comment.user}}</i> en {{comment.created_date}}<br>

                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

       {% if event.created_by  %}
            <div class="text-right">Enregistré en {{event.created_on|default:"2016"}} par <i>{{event.created_by}}.</i></div>
       {% endif %}
       {% if event.edited_by  %}
            <div class="text-right">Dernière modification en {{event.edited_on}} par <i>{{event.edited_by}}</i></div>
       {% endif %}
    </div>
    <br>

    <!-----------
    --- MODAL ---
    ------------>

    <!-- Comment modal -->
    <div class="modal fade" id="CommentModal" tabindex="-1" role="dialog" aria-labelledby="commentLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn btn-xs btn-danger pull-right" data-dismiss="modal">x</button>
                    <h4 class="modal-title" id="commentLabel">{% trans "Nouveau commentaire" %}</h4>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'comment_create' event.id %}">
                        {% csrf_token %}
                        {% bootstrap_form form_comment %}
                        {% buttons %}
                            <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
                        {% endbuttons %}
                    </form>
                </div>
            </div>
        </div>

{% endblock %}
