{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load bootstrap3 %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {% trans "Détails de l'événement" %} "<em>{{ event.title }}"</em>
                <a class="btn btn-xs btn-warning" href="JavaScript:newPopup('/admin/mozartweb/event/{{ event.id }}/change/?_popup=1');">
                    <i class="fa fa-pencil"></i> {% trans "Modifier" %}
                </a>
            </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="col-sm-4">
            <strong>{% trans "Nature de l'évenement" %} :</strong> {{ event.type }}<br>
            <strong>{% trans "Lieu" %} :</strong> {{ event.place }}<br>
            <strong>{% trans "Réference" %} :</strong> {{ event.reference|safe }}<br>
        </div>
        <div class="col-sm-4">
            <strong>{% trans "Date début" %} :</strong> {{event.start_date}}<br>
            <strong>{% trans "Date fin" %} :</strong> {{event.end_date}}<br>
        </div>
        <div class="col-sm-4">
            <strong>Affiche :</strong> <a href="/media/{{ event.poster }}"><img src="/media/{{ event.poster }}" height='70'"></a>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-default">
                <div class="panel-heading">
                    <b>{% trans "Pièces" %} :</b>
                </div>
                <div class="panel-body">
                    <ul>
                    {% for piece in event.piece.all %}
                        <li>{{ piece.name }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>{% trans "Interprètes" %} :</b>
                </div>
                <div class="panel-body">
                    <ul>
                    {% for p in event.performer.all %}
                        <li>{{ p.name }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
         </div>
               <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>{% trans "Conférences" %} :</b>
                </div>
                <div class="panel-body">
                    <ul>
                    {% for s in event.speech.all %}
                        <li>{{ s }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
         </div>
     </div>
{% endblock %}
