{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load bootstrap3 %}
{% load  noln %}
{% load  cache %}

{% block toggle_button %}
                      <button type="button" id="sidebarCollapse" class="btn btn-default" > 
                          <i class="fa fa-exchange"></i> 
                      </button>&nbsp;
{% endblock %}

{% block sidebar %}
        <div class="wrapper">
                    <p>&nbsp;</p>
                <div class="panel-body" style="font-size: x-small;">
                    <form class="form"action="/list/"  method="get" style="font-size: x-small;">
                            {% csrf_token %}
                            <center>
                            {% buttons %}
                                <input action="" type="submit" class="btn btn-primary btn-sm" style="font-size: x-small;" value="Filtrer">
                                <input class="btn btn-warning btn-sm" style="font-size: x-small;" type="button" onclick="clearForm(this.form);" value="Effacer">
                                <a class="btn btn-danger btn-sm" style="font-size: x-small;" href="/list?q=*">Tout afficher</a>
                            {% endbuttons %}
                            </center>
                            <nav id="sidebar">
                              <div class="panel-body" style="font-size: x-small;">
                                {% bootstrap_form form size='small' %}
                              </div>
                            </nav>
                    </form>
                </div>
{% endblock %}

{% block content %}

{% if events == None %}

<br>
    <!-- Main jumbotron for a primary message -->
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>Bienvenue dans la banque de données des événements Mozart en Autriche annexée (1938-1945) !</h3>
          <br>
          <div class="alert alert-warning">
            <strong>Note importante&nbsp;: </strong>cette banque de données est encore en construction. Seules les
              pages concernant la Semaine Mozart du Reich allemand (1941) sont complètes; le
              reste ne prétend absolument pas à une quelconque exhaustivité.
          </div>
<h4>Conseils d’utilisation</h4>
<hr>

<p>Pour alléger le chargement de la page, le contenu de la banque de données ne
s’affiche pas automatiquement au moment de l’ouverture du site. Pour voir
toutes les entrées, cliquer sur le bouton «&nbsp;Tout afficher&nbsp;» et sélectionner
ensuite le nombre de fiches à afficher sur un même écran («&nbsp;Afficher&nbsp;» 25, 50,
100 ou Tous).</p>

<p>Pour faire une recherche dans la banque de données, utiliser les filtres
ci-contre. Notons que les titres d’œuvres sont entrés dans leur langue
originale respective (par exemple&nbsp;: <i>Le nozze di Figaro</i> et non <i>Les noces de
Figaro</i>; <i>Die Entführung aus dem Serail</i> et non <i>L’enlèvement au
sérail</i>). Il est également possible de rechercher une œuvre en utilisant le
numéro de catalogue Köchel.</p>
<p>
Les dates doivent être recherchées en définissant une plage temporelle, avec un
début – «&nbsp;Date de l’événement (à partir de)&nbsp;» – et une fin – «&nbsp;Date de
l’événement (jusqu’à)&nbsp;». Pour rechercher un événement ayant eu lieu à une date
précise, il faut entrer cette même date dans les deux cases [«&nbsp;Date de
l’événement (à partir de)&nbsp;» et «&nbsp;Date de l’événement (jusqu’à)&nbsp;»].
</p>
<br>
<h4>Contenu de la banque de données</h4>
<hr>

<p>Lorsqu’elle sera complétée, cette banque de données présentera un panorama
global des concerts et événements Mozart (représentations d’opéra, festivals,
conférences, congrès, projections spéciales de films, retransmissions à la
radio) annoncés et/ou recensés dans d’importants journaux autrichiens pendant
l’Anschluss (c’est-à-dire de mars 1938 à mai 1945).  Les périodiques dépouillés
sont le <i>Völkischer Beobachter (Wiener Ausgabe)</i>, le <i>Neues Wiener
Tagblatt</i>, le <i>Neuigkeits-Welt-Blatt</i>, <i>Das kleine Blatt</i>, <i>Das
kleine Volksblatt</i> et les <i>Wiener Neueste Nachrichten</i>. La principale
source de ce dépouillement est le site ANNO — <a
href="http://anno.onb.ac.at/">AustriaN Newspapers Online de l’Österreichische
Nationalbibliothek</a>; à cela s’ajoutent les collections de périodiques de
l’<i>Österreichische Nationalbibliothek</i>, de la <i>Staatsbibliothek zu
Berlin</i> et de la <i>Bayerische Staatsbibliothek</i>, ainsi que les archives
en ligne du <i>Staatsoper Wien</i>, du <i>Musikverein</i>, du <i>Konzerthaus et
des Salzburger Festspiele</i>.</p>

<p>Tel qu’indiqué plus haut, la <b>Semaine Mozart du Reich allemand (1941)</b> fait ici
l’objet d’une documentation particulièrement détaillée, basée non seulement sur
les périodiques listés ci-dessus, mais aussi sur un ensemble de documents
d’archives (en particulier la collection de programmes conservée au Wiener
Stadt- und Landesarchiv) et sur un dépouillement beaucoup plus vaste de la
presse quotidienne allemande et autrichienne.</p>

<p>Chaque événement de la Semaine Mozart est documenté individuellement. L’ensemble du programme est cependant rassemblé dans les trois fiches-synthèse suivantes&nbsp;:
</p>
<ul>
    <li><a href="/641">Programme du Reich (Reichsprogramm)</a></li>
    <li><a href="/643">Programme viennois (Wiener Programm)</a></li>
    <li><a href="/644">Congrès Mozart</a></li>
</ul>
<p>Les informations réunies ici complètent celles présentées dans les tableaux
et annexes de l’ouvrage suivant&nbsp;: Marie-Hélène Benoit-Otis et Cécile Quesney,
<i>Mozart 1941&nbsp;: La Semaine Mozart du Reich allemand et ses invités français</i>,
Rennes, Presses universitaires de Rennes, [à paraître en 2019].</p>
<br>
<h4>Équipe</h4>
<hr>
<h5>Direction du projet de recherche&nbsp;:</h5>
<p>Marie-Hélène Benoit-Otis</p>
<h5>Recherche et entrée de données&nbsp;:</h5>
<ul class="list-unstyled">
<li>Béatrice Cadrin</li>
<li>Babette Chabout-Combaz</li>
<li>Julie Delisle</li>
<li>Elisabeth Otto</li>
<li>Sebastián Rodríguez Mayén</li>
<li>Maude Trottier</li>
</ul>

<h5>Révision et assurance qualité&nbsp;:</h5>
<p>Béatrice Cadrin</p>

<h5>Programmation de la banque de données&nbsp;:</h5>
<p>Tiago Bortoletto Vaz</p>

<hr>
<p>Nous remercions <a href="http://oicrm.org/">l’Observatoire interdisciplinaire de création et de recherche
en musique (OICRM)</a> pour l’hébergement de cette banque de données.</p>

      </div>
    </div>

{% else %}
    <div class="row">
        <div class="col-lg-12">
		&nbsp;
        </div>
        <!-- /.col-lg-12 -->
    </div>

{% cache 604800 events_list events.qs %}

    <div class="row">
        <div class="col-sm-12">
           {% if events.qs|length == 1 %}
             <p>{{ events.qs|length }} entrée trouvée</p>
           {% elif events.qs|length > 1 %}
             <p>{{ events.qs|length }} entrées trouvées</p>
           {% else %}
             <p>aucun résultat trouvé</p>
           {% endif %}
            <div class="panel panel-default">
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Titre</th>
                                    <th>Date</th>
                                    <th>Œuvres</th>
                                    <th>Interprètes</th>
                                    <th>Lieu</th>
                                    <th>Nature</th>
                                    <th>Références</th>
                                    <th>Informations complémentaires</th>
                                    <th>Insertion</th>
                                </tr>
                            </thead>
                            <tbody>
                               {% for event in events.qs %}
                                <tr class="odd gradeX">
				    <td>{{event.id}}</td>
                                    <td class="text-center">
                                        <a href="{% url "event_detail" event.id %}">
                                            {{ event.title|noln|safe }}
                                        </a>
               {% if user.is_authenticated %}
                {% if event.bc_key %}
                    <nobr><a class="text-muted" href="JavaScript:newPopup('/admin/mozartweb/broadcasting/{{ event.bc_key.id }}/change/?_popup=1');">
                    &nbsp;<i class="fa fa-pencil"></i>
                </a>
                <a class="text-muted" href="JavaScript:newPopup('/admin/mozartweb/broadcasting/{{ event.bc_key.id }}/delete/?_popup=1');">
                    <i class="fa fa-remove"></i>
                </a></nobr>
                {% else %}
                    <nobr><a class="text-muted" href="JavaScript:newPopup('/admin/mozartweb/event/{{ event.id }}/change/?_popup=1');">
                    &nbsp;<i class="fa fa-pencil"></i>
                </a>
                <a class="text-muted" href="JavaScript:newPopup('/admin/mozartweb/event/{{ event.id }}/delete/?_popup=1');">
                    <i class="fa fa-remove"></i>
                </a></nobr>
                {% endif %}
              {% endif %}

                                    </td>
                                    <td><nobr>{{ event.format_start_date_sortable }}</nobr>
                                        {% if event.end_date %}
                                            {% if event.end_date != event.start_date %}
                                               <br>à<br><nobr>{{ event.format_end_date_sortable }}</nobr>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% for piece in event.piece.all %}
                                            <i class="fa fa-caret-right"></i> {{ piece|noln|default:"" }}<br>
                                        {% endfor %}
                                    </td>
                                    <td>
                                              {% for p in event.performer.all %}
                                                  <i class="fa fa-caret-right"></i>
                                                  {{ p|noln }}
                                                  {% for t in p.ptype.all %}
                                                      <small>[{{ t|noln }}]</small>{% if not forloop.last %}, {% endif %}
                                                  {% endfor %}
                                                  <br>
                                              {% endfor %}
                                    </td>
                                    <td>
                                        {% for place in event.places.all %}
                                            <i class="fa fa-caret-right"></i> {{ place|noln|default:"" }}<br>
                                        {% endfor %}
                                    </td>
                                    <td>{{ event.type|default:"" }}</td>
                                    <td>
                                        {% for r in event.reference.all %}
                                                {{ r|noln|default:"" }}
                                        {% endfor %}
				    </td>
				    <td>
		                       {% for info in event.info.all %}
                                           {{info.content|noln|safe}}
                                                   <br>
                                                       Ajouté par {{info.created_by.first_name}} {{info.created_by.last_name|default:""}} le {{info.created_on}}
                                           {% for log in info.log.all %}
                                                   <br>
                                                       Modifié par {{log.changed_by.first_name}} {{log.changed_by.last_name|default:""}} le {{log.changed_on}}
                                           {% endfor %}
                                       {% endfor %}
               			   </td>
                                   <td>{{ event.created_on|date:"Y-m-d" }} par {{ event.created_by.first_name }} {{event.created_by.last_name|default:""}}</td>
                               </tr>
                              {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endcache %}

{% endif %}

<script>
function clearForm(oForm) {

    

  var elements = oForm.elements; 

    

  oForm.reset();



  for(i=0; i<elements.length; i++) {

      

	field_type = elements[i].type.toLowerCase();

	

	switch(field_type) {

	

		case "text": 

		case "password": 

		case "textarea":

	        case "hidden":	

			

			elements[i].value = ""; 

			break;

        

		case "radio":

		case "checkbox":

  			if (elements[i].checked) {

   				elements[i].checked = false; 

			}

			break;



		case "select-one":

		case "select-multi":

            		elements[i].selectedIndex = -1;

			break;



		default: 

			break;

	}

    }

}
</script>

{% endblock %}
