{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load bootstrap3 %}


{% block toggle_button %}
                      <button type="button" id="sidebarCollapse" class="btn btn-default" > 
                          <i class="glyphicon glyphicon-menu-hamburger"></i> 
                      </button>&nbsp;

{% endblock %}

{% block sidebar %}
            <nav id="sidebar">
                    <p></p>
                <div class="panel-body">
                    <form class="form" action="" method="get">
                        <form method="post">
                            {% csrf_token %}
                            {% buttons %}
                                <button type="submit" class="btn btn-primary btn-sm pull-right">Filtrer</button>
                                <a class="btn btn-danger btn-sm" href="/?q=*">Tout afficher</a>
                            {% endbuttons %}
                            {% bootstrap_form form %}
                            {% buttons %}
                                <button type="submit" class="btn btn-primary btn-sm pull-right">Filtrer</button>
                                <a class="btn btn-danger btn-sm" href="/?q=*">Tout afficher</a>
                            {% endbuttons %}
                        </form>
                    </form>
                 </div>
            </nav>

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
		&nbsp;
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Titre</th>
                                    <th>Date</th>
                                    <th>Œuvres</th>
                                    <th>Interprètes</th>
                                    <th>Lieu</th>
                                    <th>Nature</th>
                                    <th>Insertion</th>
                                </tr>
                            </thead>
                            <tbody>
                               {% for event in events %}
                                <tr class="odd gradeX">
				    <td>{{event.id}}</td>
                                    <td class="text-center">
                                        <a href="{% url "event_detail" event.id %}">
                                            {{ event.title|safe }}
                                        </a>
               {% if user.is_authenticated %}
				<hr>
                {% if event.bc_key %}
                    <a class="btn btn-xs btn-warning" href="JavaScript:newPopup('/admin/mozartweb/broadcasting/{{ event.bc_key.id }}/change/?_popup=1');">
                    <i class="fa fa-pencil"></i>
                </a>
                <a class="btn btn-xs btn-danger" href="JavaScript:newPopup('/admin/mozartweb/broadcasting/{{ event.bc_key.id }}/delete/?_popup=1');">
                    <i class="fa fa-times"></i>
                </a>
                {% else %}
                    <a class="btn btn-xs btn-warning" href="JavaScript:newPopup('/admin/mozartweb/event/{{ event.id }}/change/?_popup=1');">
                    <i class="fa fa-pencil"></i>
                </a>
                <a class="btn btn-xs btn-danger" href="JavaScript:newPopup('/admin/mozartweb/event/{{ event.id }}/delete/?_popup=1');">
                    <i class="fa fa-times"></i>
                </a>
                {% endif %}
              {% endif %}

                                    </td>
                                    <td><nobr>{{ event.start_date|date:"Y-m-d" }}</nobr>
                                        {% if event.end_date %}
                                            {% if event.end_date != event.start_date %}
                                               <br>à<br><nobr>{{ event.end_date|date:"Y-m-d" }}</nobr>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% for piece in event.piece.all %}
                                            - {{ piece|default:"" }}<br>
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% for performer in event.performer.all %}
                                            - {{ performer|default:"" }}<br>
                                        {% endfor %}
                                    </td>
                                    <td>{{ event.place|default:"" }}</td>
                                    <td>{{ event.type|default:"" }}</td>
                                    <td>{{ event.created_on|date:"Y-m-d" }} par {{ event.created_by }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
