{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load bootstrap3 %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Événements
                <a class="btn btn-xs btn-primary" href="JavaScript:newPopup('/admin/mozartweb/event/add/?_popup=1');"><i class="fa fa-plus"></i> nouveau événement</a>
            </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="col-sm-2">
           <div class="panel panel-default">
                <div class="panel-heading">
                    Filtres
                </div>
                <div class="panel-body">
                    <form class="form" action="" method="get">
                        <form method="post">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            {% buttons %}
                                <button type="submit" class="btn btn-primary pull-right">Filtrer</button>
                                <a class="btn btn-danger" href="/">Réinitialiser</a>
                            {% endbuttons %}
                        </form>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="panel panel-default">
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>Titre</th>
                                    <th>Œuvres</th>
                                    <th>Interprètes</th>
                                    <th>Conférenciers-ères</th>
                                    <th>Lieu</th>
                                    <th>Nature</th>
                                    <th>Début</th>
                                    <th>Fin</th>
                                </tr>
                            </thead>
                            <tbody>
                               {% for event in events %}
                                <tr class="odd gradeX">
                                    <td class="text-center">
                                        <a href="{% url "event_detail" event.id %}">
                                            {{ event.title }}
                                        </a>
                                    </td>
                                    <td>
                                        {% for piece in event.piece.all %}
                                            - {{ piece|default:"" }}<br>
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% for performer in event.performer.all %}
                                            - {{ performer|default:"" }}<br>
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% for speech in event.speech.all %}
                                            {% for speaker in speech.speaker.all %}
                                                - {{ speaker|default:"" }}<br>
                                            {% endfor %}
                                        {% endfor %}
                                    </td>
                                    <td>{{ event.place|default:"" }}</td>
                                    <td>{{ event.type|default:"" }}</td>
                                    <td>{{ event.start_date|default:""  }}</td>
                                    <td>{{ event.end_date|default:"" }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
